<%= stylesheet_link_tag 'welcome_info' %>

<div id="welcome-info">
  <h1>PocketSOHO</h1>

  Please Log In

  <div class="social-wrap c" style="width: 221px; margin: 0 auto;">
      <button class="facebook">Sign in with Facebook</button><br>
          <button class="twitter">Sign in with LinkedIn</button>
  </div>

  <%= link_to "Sign up with E-mail", new_user_path %>

  <%= form_tag(sessions_path) %>
    <p><%= text_field_tag(:email, nil, placeholder: "E-mail") %></p>
    <p><%= password_field_tag(:password, nil, placeholder: "Password") %></p>
    <%= submit_tag("Log in with E-mail") %>
</div>



