<div class="profile-content content">

    <div class="container">

      <div class="row">

        <div class="col-md-6 col-sm-7">

          <h1>Invoice Due <%= @invoice.due_date.strftime('%m/%d/%Y') %></h1>

          <h5 class="text-muted"><%= @invoice.business.name %></h5>

          <hr>

          <ul class="icons-list">
            <li><i class="icon-li fa fa-smile-o"></i>Client: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></li>
            <li><i class="icon-li fa fa-map-marker"></i> <%= @invoice.customer.city %>, <%= @invoice.customer.state %></li>
            <li><i class="icon-li fa fa-envelope"></i> <%= @invoice.customer.email %></li>
            <li><i class="icon-li fa fa-credit-card"></i> Total Due: $<%= number_with_precision(@invoice.amount, delimiter: ',', precision: 2 ) %></li>
          </ul>

          <br>

          <hr>

          <p>
            <!-- <a href="javascript:;" class="btn btn-primary">Follow Janet</a>
            &nbsp;&nbsp; -->

          <form action="/charges" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_lIB9TNJoEz7jDH3BJ7Hs7glO"
              data-amount="<%= number_with_precision((@invoice.amount * 100), precision: 0, delimter: ',') %>"
              data-name="PocketSOHO"
              data-description="Monthly Invoice"
              data-image="/assets/payment01.svg">
            </script>
          </form>

            <!-- <a href="javascript:;" class="btn btn-secondary">Pay with card</a> -->
          </p>
          </div> <!-- /.col -->


        </div> <!-- /.row -->

        <br><br>

    </div> <!-- /.container -->

  </div> <!-- .content -->
