<div class="message-content content"data-ng-app="pocketSOHO">

    <div class="container" id="inbox" ng-controller="inboxController">
            <h3 class="content-title"><%= image_tag "chat_icon.svg", id: 'chaticon', alt: 'Chat Icon' %><u>My Messages</u></h3>

      <div class="new-chat row">
          <div class="col-md-8 col-sm-push-3 col-sm-8 col-sm-push-2">
        <!-- <div class="col-md-8"> -->
            <%= link_to new_user_conversation_path(@user), class: 'new-ms' do %>
                <i class="fa fa-pencil-square-o">Create New Message</i>
            <% end %>
          </div>
          <div class="col-md-8 col-sm-push-3 col-sm-8 col-sm-push-2">
          <!-- <div class="col-md-8"> -->
            <form class="mainnav-form pull-right" role="search">
            <input type="text" class="form-control input-md mainnav-search-query" placeholder="Search names"  id="inbox-searchbar" ng-model="searchWords">
            <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
        </form>
        </div>

      </div>
      <div id='no-messages-wrapper' style="text-align: center">
        <div id="no-messages" ng-style=" { 'display': noResults((messages | filter: searchWords).length) }">No Messages. Click <%= link_to "here", new_user_conversation_path(@user.id) %> to create a message. </div>
      </div>

      <div class="row">

         <!-- <div class="col-md-8"> -->
         <div class="col-md-8 col-sm-push-3 col-sm-8 col-sm-push-2">

          <div class="table-responsive" ng-style=" { 'display': results((messages | filter: searchWords).length) }">

          <table class="table table-striped table-bordered thumbnail-table">
                  <thead>
                        <tr>
                              <th class="avatar-img" style="width: 150px">From</th>
                              <th class="mes-space">Message</th>
                        </tr>
                  </thead>
                    <tbody>
                        <tr class="msg-row" ng-repeat="message in messages | filter: searchWords | offset: currentPage*itemsPerPage | limitTo: itemsPerPage " ng-style="{ 'font-weight': getReadStatus(message) }">
                              <td class="valign-middle">
                              <div class="thumbnail">
                                  <img ng-src="{{message.sender_image}}" width="125" alt="Gallery Image" />
                                  <p class="sender">{{message.sender_name}}</p>
                              </div> <!-- /.thumbnail -->
                              </td>
                              <td class="valign-middle">
                                  <a href="/users/{{message.sender_id}}/conversations/{{message.conversation_id}}" title="">{{message.formatted_updated_at}}</a>
                                  <p>{{message.abbrev_text}}</p>
                                  <div class ="message-action text-left valign-middle">
                                      <a href="/users/{{message.sender_id}}/conversations/{{message.conversation_id}}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>
                                      <a href="/users/{{message.sender_id}}/conversations/{{message.conversation_id}}" method="delete" class="btn btn-xs btn-secondary"><i class="fa fa-times"></i></a>
                                  </div>
                              </td>
                        </tr>
                        </tbody>
                       </table>

                      </div> <!-- /.table-responsive -->

            <div class="pagination">
              <ul class="paging">
                  <li ng-class="{ disabled: prevPageDisabled() }">
                  <a href ng-click="firstPage()" ng-class="{ disabled: prevPageDisabled() }">« First</a>
                </li>
                <li>
                  <a href ng-click="prevPage()" ng-class="{ disabled: prevPageDisabled() }">Prev</a>
                </li>
                <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                  <a href="#">{{n+1}}</a>
                </li>
                <li ng-class="{ disabled: nextPageDisabled() }">
                  <a href ng-click="nextPage()" ng-class="{ disabled: nextPageDisabled() }">Next</a>
                </li>
                <li ng-class="{ disabled: nextPageDisabled() }">
                  <a href ng-click="lastPage()" ng-class="{ disabled: nextPageDisabled() }">Last »</a>
                </li>
              </ul>
            </div>


        </div> <!-- /.col -->

      </div> <!-- /.row -->



      <br><br>


    </div> <!-- /.container -->
    <%= javascript_include_tag "ui-bootstrap-tpls-0.11.2.min.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "main", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "inbox", "data-turbolinks-track" => true %>

  </div> <!-- .content -->
