<div class="newmessage-content content">

    <div class="container">

      <div class="row">

        <div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 ">

          <div class="portlet">

            <h2 class="portlet-title">
                <u>Edit Your Info</u>
            </h2>
              <label style="font-weight: 600">Password</label>
              <p>To change your password, click <%= link_to "here", change_password_path %>.</p>
              <br>

            <div class="portlet-body">

              <div class="form-group">

                <%= simple_form_for @user, url: { action: "update"} do |f| %>
                  <%= f.input :first_name, input_html: {class: 'form-control'}, wrapper_html: { class: 'form-group' }  %>
                  <%= f.input :last_name, input_html: {class: 'form-control'}, wrapper_html: { class: 'form-group' }  %>
                  <%= f.input :city, input_html: {class: 'form-control'}, wrapper_html: { class: 'form-group' }  %>
                  <%= f.input :state, input_html: {class: 'form-control'}, wrapper_html: { class: 'form-group' }  %>
                  <%= f.input :email, input_html: {class: 'form-control'}, wrapper_html: { class: 'form-group' }  %>
                  <%= f.input :type, collection: ['BusinessOwner', 'Customer'], input_html: {class: 'form-control'}, wrapper_html: { class: 'form-group' } %>
                  <% if @user.type == "Customer" %>
                    <div class="form-group">
                      <label>Which Business? (Search by Business Name or ID)</label>
                      <% if @user.invited %>
                      <input id="business_name" class="form-control" name="business_id" readonly></input>
                      <%= f.input :business_id, input_html: {class: 'form-control', id: 'orig-biz-id'}, wrapper_html: { class: 'form-group' }, readonly: true, label: "Business ID (Enter the number here)" %>
                      <% else %>
                        <input id="business_name" class="form-control" name="business_id"></input>
                        <%= f.input :business_id, input_html: {class: 'form-control', id: 'orig-biz-id'}, wrapper_html: { class: 'form-group' }, readonly: false, label: "Business ID (Enter the number here)" %>
                      <% end %>
                    </div>
                  <% end %>
                  <%= f.input :image_url, input_html: {class: 'form-control orig-biz-input'}, wrapper_html: { class: 'form-group' }  %>
                  <div class="form-group">
                    <%= f.button :submit, class: 'btn btn-primary', id: 'update-appt' %>
                  </div>
                <% end %>
              </div> <!-- /.form-group -->

            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->

    </div> <!-- /.container -->



  </div> <!-- .content -->
  <% javascript_include_tag "welcome" %>
