<div id="user-edit">
      <h1>Edit Your Info</h1>
      <%= simple_form_for @user, url: { action: "update"} do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :email %>
      <%= f.input :type, collection: ['BusinessOwner', 'Customer'] %>
      <%= f.input :image_url %>
      <%= f.input :phone %>
      <br>
      <% if @user.business_id == nil %>
            <h4>Which Business Are You Signing Up With?</h4>
            <label>Search for Name (please type exactly):</label>
            <input id="business_name">
            <%= f.input :business_id, label: 'Business ID:' %>
            <br>
      <% end %>
      <%= f.button :submit %>
      <%= link_to "Cancel Account", user_path(@user.id), method: :delete, data: { confirm: 'You sure?' } %>
      <% end %>
</div>
