  <div class="profile-content content">

    <div class="container">

      <div class="row">

        <div class="col-md-3 col-sm-5">

          <div class="profile-avatar">
            <%= image_tag @profile_user.image_url, alt: 'Profile Image', class: 'profile-avatar-img thumbnail' %>
          </div> <!-- /.profile-avatar -->

        </div> <!-- /.col -->



        <div class="col-md-6 col-sm-7">

          <h3><%= @profile_user.first_name %> <%= @profile_user.last_name %></h3>

          <h5 class="text-muted">
            <%= @profile_user.type %>
            <% if @profile_user.id == @user.id  %>
                  <%= render partial: 'edit_button' %>
            <% end %>
          </h5>

          <hr>

            <!-- <a href="javascript:;" class="btn btn-primary">Follow Janet</a>
            &nbsp;&nbsp; -->
            <% if @profile_user != @user %>
              <%= link_to user_conversation_path(@user, @conversation), class: 'btn btn-secondary' do %>
                Send Message
              <% end %>
            <% end %>

          <hr>

          <ul class="icons-list">
            <li>
              <i class="icon-li fa fa-envelope"></i>
              <%= @profile_user.email %>
            </li>
            <li>
              <i class="icon-li fa fa-heart"></i>
              Member Since <%= @profile_user.created_at.strftime("%B %Y") %>
            </li>
            <li>
              <i class="icon-li fa fa-map-marker"></i>
              <%= @profile_user.city %>, <%= @profile_user.state %>
            </li>
          </ul>
          </div> <!-- /.col -->


        </div> <!-- /.row -->

        <br><br>

    </div> <!-- /.container -->

  </div> <!-- .content -->
