<h3>My Upcoming Appointments</h3>
<% if @user.type == "BusinessOwner" %>
<div class="create-new-appt">
  <i class="fa fa-minus-circle"></i>
  <%= link_to 'Create New', new_appointment_path%>
</div>
<% end %>
</span>
<table>
  <% @appointments.each do |appt| %>
  <tr class="appt-row">
    <td class="appt-date-col"><%= appt.time.strftime("%m/%d/%Y") %>@<%= appt.time.strftime("%I:%M%p") %></td>
    <td class="appt-time-col">$<%= number_with_precision(appt.amount, precision: 2, delimiter: ',') %></td>
    <td class="appt-details-col">
      <%= link_to appointment_path( appt.id ) do %>
      Appointment with <%= Business.find( appt.business_id ).name %>
      (
      <% if @user.type == "BusinessOwner" %>
        <%= Customer.find( appt.customer_id ).first_name %> <%= Customer.find( appt.customer_id ).last_name %>
      <% else %>
        <%= BusinessOwner.find( appt.business_owner_id ).first_name %> <%= BusinessOwner.find( appt.business_owner_id ).last_name %>
        <% end %>
      )
      <% end %>
    </td>
    <% if @user.type == "BusinessOwner" %>
      <td class="appt-edit-col"><%= link_to 'Edit', edit_appointment_path(appt.id)  %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
