<h3>My Upcoming Appointments</h3>
<div class="create-new-appt">
  <i class="fa fa-minus-circle"></i>
  <%= link_to 'Create New', new_user_appointment_path(@user.id) %>
</div>

  <span class="sync-cal">
    <i class="fa fa-refresh"></i>
  <a href="#">Sync Calendar</a>
</span>
<table>
  <% @appointments.each do |appt| %>
  <tr class="appt-row">
    <td class="appt-date-col"><%= appt.time.strftime("%m/%d/%Y") %></td>
    <td class="appt-time-col">@<%= appt.time.strftime("%I:%M%p") %></td>
    <td class="appt-details-col">
      <%= link_to user_appointment_path( @user.id, appt.id ) do %>
      Appointment with <%= Business.find( appt.business_id ).name %>
      (
      <% if @user.type == "BusinessOwner" %>
        <%= Customer.find( appt.customer_id ).first_name %> <%= Customer.find( appt.customer_id ).last_name %>
      <% else %>
        <%= BusinessOwner.find( appt.business_owner_id ).first_name %> <%= BusinessOwner.find( appt.business_owner_id ).last_name %>
        <% end %>
      )
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
