<h3>My Businesses</h3>

<div class="create-new">
	<i class="fa fa-minus-circle"></i>
	<%= link_to 'Create New', new_business_path %>
</div>

<table>
  <% @businesses.each do |business| %>
    <tr class="biz-row">

        <td class="biz-name-col"><%= link_to business_path(business) do %><%= business.name %><% end %></td>
        <td class="biz-img-col"><%= link_to business_path(business) do %><%= image_tag( business.image_url, :class => 'biz-img' ) %><% end %></td>

      <td class="biz-edit-col"><%= link_to 'Edit', edit_business_path(business.id)  %></td>

    </tr>
  <% end %>
</table>
