<% @invoice_dates.each do |date| %>
        <h3><%= date.strftime("%A, %b %d %y") %></h3>
          <table>
            <% @invoices.where( "due_date = ?", Date.new( date.year, date.month, date.day) ).each do |invoice| %>
            <tr class="appt-row">
              <td class="appt-details-col">
                <%= link_to invoice_path( invoice.id ) do %>
                  <% if @user.type == 'BusinessOwner' %>
                    <%= Customer.find( invoice.customer_id ).first_name %> <%= Customer.find( invoice.customer_id ).last_name %>
                  <% else %>
                    <%= Business.find( invoice.business_id ).name %>
                  <% end %>
                <% end %>
              </td>
              <td class="appt-details-col">
                $<%= number_with_precision( invoice.amount, precision: 2, delimiter: ',') %>
              </td>
            </tr>
            <% end %>
          </table>
      <% end %>
