<h1>PocketSOHO</h1>

<h3>My New Messages</h3>
<table>
<% @unread_conversations.each do |message| %>
    <tr style="font-weight:bold">
    <td>
      <%= link_to user_conversation_path(@user, message.conversation_id) do %>
      <%= message.text %>
      <% end %>
    </td>
    <td>
      <% if @user.type == "BusinessOwner" %>
        <%= Customer.find(message.customer_id).first_name  %>
      <% else  %>
        <%= BusinessOwner.find(message.business_owner_id).first_name %> Biz
      <% end %>
    </td>
    <td>
      <%= message.updated_at %>
    </td>
  </tr>
  <% end %>
</table>

<h3>My Services</h3>
<i class="fa fa-minus-circle"></i>
<a href="#">Search for Businesses</a>

<h3>My Upcoming Appointments</h3>
<a href="#">See All Appointments</a>

<h3>My Finances</h3>
(Graph)

<!-- headings:
name
my services
new message
schedule
finances + graph

 -->
