
<div class="user-content">
  <h1>PocketSOHO</h1>

  <div id="user-home-categories">
    <h3>My New Messages</h3>
    <% if @unread_conversations.empty? %>
      <p>You have no new messages! Click <%= link_to "here", user_conversations_path(@user.id) %> to view your inbox.</p>
    <% else %>
      <table>
      <% @unread_conversations.each do |message| %>
          <tr style="font-weight:bold">
          <td>
            <%= link_to user_conversation_path(@user, message.conversation_id) do %>
            <%= message.text %>
            <% end %>
          </td>
          <td>
            <% if @user.type == "BusinessOwner" %>
              <%= Customer.find(message.customer_id).first_name  %>
            <% else  %>
              <%= BusinessOwner.find(message.business_owner_id).first_name %> Biz
            <% end %>
          </td>
          <td>
            <%= message.updated_at.strftime("%m/%d/%Y %I:%M%p") %>
          </td>
        </tr>
        <% end %>
      </table>
    <% end %>

    <% if @user.type == "BusinessOwner" %>
      <%= render :partial => 'businesses' %>
    <% else %>
      <%= render :partial => 'services' %>
    <% end %>

    <h3>My Upcoming Appointments</h3>
    <a href="#">See All Appointments</a>

    <h3>My Finances</h3>
    <p>(Graph)</p>
  </div>
</div>

<!-- headings:
name
my services
new message
schedule
finances + graph

 -->
