<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <title>PocketSOHO: The best business app for individual service providers.</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PocketSOHO: The best business app for small office\home office">


  <!-- Google Font: Open Sans -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">

  <!-- Font Awesome CSS -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- App CSS -->
  <%= stylesheet_link_tag    "mvpready-landing"%>
  <%= stylesheet_link_tag    "mvpready-flat"%>
  <%= stylesheet_link_tag    "animate"%>
   <%= stylesheet_link_tag    "landing/custom"%>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="./img/ico/favicon32x32.png">
</head>

<body class=" ">

<div id="wrapper">

  <header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <%= image_tag "landing/mobilemenu-logo.svg", alt: 'pocketSOHO', id: "logo2"%>
          <%= image_tag "landing/mobilemenu-logo1.svg", alt: 'pocketSOHO', id: "logo3"%>
        </button>
        <a href="index.html" class="navbar-brand navbar-brand-img">
          <%= image_tag "logo.svg", alt: 'pocketSOHO', id: "logo"%>
        </a>
      </div> <!-- /.navbar-header -->


      <nav id="main-nav" class="collapse navbar-collapse" role="navigation">

        <ul class="nav navbar-nav navbar-right mainnav-menu">

          <li class="active">
            <a href="index.html">Home</a>
          </li>

          <li class="">
            <a data-target-id="about" href="#">About</a>
          </li>

          <li class="">
            <a data-target-id="team" href="#">Team</a>
          </li>

          <!-- <li class="">
            <a data-target-id="pricing" href="#">Pricing</a>
          </li> -->

          <li class="">
            <a data-target-id="contactus" href="#">Contact</a>
          </li>

          <li>
            <%= link_to "Login", new_user_session_path %>
          </li>

        </ul>

      </nav>

    </div> <!-- /.container -->

  </header>



    <div class="masthead">

      <div class="container">
            <!-- starts carousel -->

        <div id="masthead-carousel" class="carousel masthead-carousel slide">
          <div class="carousel-inner">

            <div id="slide1" class="item active">

              <div class="row">

                <div class="col-md-6 masthead-text animated fadeInDownBig">
                  <h1 class="masthead-title">Introducing pocketSOHO</h1>
                  <p class="masthead-">
                  Small and Home Business Owner Super Hero! <br/>
                  Love being your own boss but hate the admin part?
                  </p>
                  <br>

                  <div class="masthead-actions">
                    <%= link_to "Start Your Free Trial", new_user_path, {class: 'btn btn-primary btn-jumbo'} %>
                    </a>
                  </div> <!-- /.masthead-actions -->
                </div> <!-- /.masthead-text -->

                <div id="form-animated" class="col-md-6 masthead-img animated fadeInRightBig">
                  <form class="form masthead-form well">

                    <h3 class="text-center">Start Your Free Trial!</h3>

                    <p class="text-center">Be your own boss. <br/>
                     Stop wasting time on scheduling and payment.</p>

                    <br>

                    <div class="form-group">
                      <!-- <label class="" for="full_name">Full Name</label> -->
                      <input type="text" id="full_name" placeholder="Your Name" class="form-control">
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                      <!-- <label class="" for="email_address">Email Address</label> -->
                      <input type="email" id="email_address" placeholder="Your Email" class="form-control">
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                      <!-- <label class="" for="organization">Organization</label> -->
                      <input type="text" id="organization" placeholder="Organization Name" class="form-control">
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                      <button type="submit" id="start-today" class="btn btn-secondary btn-jumbo btn-block"><a href="../admin/account-signup.html">Get Started Today!</a></button>
                    </div> <!-- /.form-group -->

                  </form>
                </div> <!-- /.masthead-img -->

              </div> <!-- /.row -->

            </div> <!-- slide1 end -->

            <div id="slide2" class="item">

              <div class="row">

                <div class="col-md-6 masthead-text animated fadeInLeftBig">
                  <h1 class="masthead-title">Real Time Messaging!</h1>

                  <p class="masthead-">
                  Our In-App Messenger allows you to communicate with your customers 24/7.
                  </p>

                  <br>

                  <div class="masthead-actions">
                    <%= link_to "Start Your Free Trial", new_user_path, {class: 'btn btn-primary btn-jumbo'} %>
                  </div> <!-- /.masthead-actions -->
                </div> <!-- /.masthead-text -->

                <div id="instant-chat-feature" class="col-md-6 masthead-img animated fadeInUpBig">
                  <%= image_tag "landing/mobile_1.png", alt: 'slide2', class: "img-responsive"%>
                </div> <!-- /.masthead-img -->

              </div> <!-- /.row -->

            </div> <!-- /.item -->

            <div id="slide3" class="item">

              <div class="row">

                <div class="col-md-6 masthead-text animated fadeInUpBig">
                  <h1 class="masthead-title">Instant (re)Scheduling!</h1>

                  <p class="masthead-">
                  See all your appointments at a glance.  Manage, schedule and re-schedule with ease.
                  </p>

                  <br>

                  <div class="masthead-actions">
                    <%= link_to "Start Your Free Trial", new_user_path, {class: 'btn btn-primary btn-jumbo'} %>
                    </a>
                  </div> <!-- /.masthead-actions -->
                </div> <!-- /.masthead-text -->

                <div id="instant-appt-feature" class="col-md-6 masthead-img animated pulse">
                  <%= image_tag "landing/ipad_appt.png", alt: 'slide2', class: 'img-responsive' %>
                </div> <!-- /.masthead-img -->

              </div> <!-- /.row -->

            </div> <!-- /.item -->

            <div id="slide4" class="item">

              <div class="row">

                <div class="col-md-6 masthead-text animated fadeInDownBig">
                  <h1 class="masthead-title">Get paid on time.</h1>

                  <p class="masthead-">
                  Easy invoicing, online payment and reporting for tax time.
                  </p>

                  <br>

                  <div class="masthead-actions">

                    <%= link_to "Start Your Free Trial", new_user_path, {class: 'btn btn-primary btn-jumbo'} %>
                  </div> <!-- /.masthead-actions -->
                </div> <!-- /.masthead-text -->

                <div id="instant-payment-feature" class="col-md-6 masthead-img animated fadeInUpBig">
                  <%= image_tag "landing/ipad_1.png", style: "width: 85%; height: 325px;" %>

                </div> <!-- /.masthead-img -->

              </div> <!-- /.row -->

            </div> <!-- /.item -->

          </div>  <!-- /.carousel-inner -->
          <!-- Carousel nav -->

          <div class="carousel-controls">
            <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
          </div>

        </div> <!-- /.masthead-carousel -->

        </div>

    </div> <!-- /.masthead -->



    <div id="about" class="content">

      <div class="container">

        <h4 class="content-title">
          <span class="features">Meet pocketSOHO</span>
        </h4>

        <br>

        <div class="row">

          <div class="mini-feature">
            <%= image_tag "chat_icon.svg", alt: 'Messaging', class:"pocketfeature" %>
            <div class="extra-img"></div>

            <div class="mini-feature-text">
              <h5 class="mini-feature-title">Real Time Messaging</h5>
              <p>Our in-app messenger allows you to communicate with your customers 24/7 because we know how important it is for your business. pochetSOHO consolidate all your communication, scheduling and payment in one simple app.</p>
            </div>
          </div> <!-- /.mini-feature -->

          <div class="mini-feature">
            <%= image_tag "schedule02.svg", alt: 'Messaging', class:"pocketfeature" %>
            <div class="extra-img-b"></div>

            <div class="mini-feature-text">
              <h5 class="mini-feature-title">Instant (re)Scheduling</h5>

              <p>Scheduling, rescheduling and keeping track of appointments are often a headache for small business owners. See all your appointments at a glance, manage, schedule and re-schedule with just a few clicks.</p>
            </div>
          </div> <!-- /.mini-feature -->

          <div class="mini-feature">
            <%= image_tag "payment02.svg", alt: 'Messaging', class:"pocketfeature" %>
            <div class="extra-img-c"></div>

            <div class="mini-feature-text">
              <h5 class="mini-feature-title">Get paid on time</h5>

              <p>Because getting paid for your hard work should not be such a hassle, pochetSOHO designed a very simple in-app payment application allowing you to invoice, track payments, remind your customers and even helps you with reporting during tax time.</p>
            </div>
          </div> <!-- /.mini-feature -->

        </div> <!-- /.row -->

        <div class="row-divider"></div> <!-- /.row-divider -->


        <div class="row">

          <div class="col-sm-6 col-sm-push-6">

            <h4 class="content-title">
              <span class="feature-description">What's Inside</span>
            </h4>

            <p>pocketSOHO helps SMALL or HOME Business owners run their business smoothly and efficiently. We bring together and simplify the repetitive task that sucks most of you time so you can enjoy spending more time doing what you love and making money!</p>

            <div class="row">
              <div class="col-sm-6">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Instant Message Customers
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Schedule appointments
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                     Send Invoices & Track Payments
                  </li>
                </ul>
              </div>

              <div class="col-sm-6">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Integrated & Secured Online Payment
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Track & Visual Income
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Speed-up Tax Reporting
                  </li>
                </ul>
              </div>
            </div>

            <br/>
            <p>Easiest way of combining the most needed 3 features to run a small office, home office, individual service business such as piano teacher, therapist, tutor, yoga teacher, nanny, and dog walker.</p>
            <br/>

            <%= link_to "Start Your Free Trial", new_user_path, {class: 'smallbtn btn btn-default'} %>

          </div> <!-- /.col -->



          <div class="col-sm-6 col-sm-pull-6 text-center">

            <br><br>
            <%= image_tag "landing/browser.png", alt: 'Macbook', class: 'img-responsive' %>

          </div> <!-- /.col -->

        </div> <!-- /.row -->



        <div class="row-divider"></div> <!-- /.row-divider -->

        <div id="team" class="content">

          <div class="container">

            <h4 class="content-title">
              <span class="features">Meet Our Team</span>
            </h4>

            <br>

            <div class="row">

              <div class="mini-feature">
                 <!-- <i class="fa fa-globe mini-feature-icon text-secondary"></i> -->

                  <div class="mini-feature-text">
                    <%= image_tag "landing/sumi.png", alt: 'Sumi Lee Levy', class: 'pocketfeature' %>
                    <h5 class="team-member">Sumi Levy</h5>
                    <h6 class="team-member-title">Chief “Can-Do” Officer | @sumi_sv</h6>
                    <p>Sumi is a momtrepreneur with 20 years of experience as a small business owner: private piano instructor, opera accompanist, Korean immersion pre-school Director and event floral designer. Passionate about education, edtech, startups, music and art.</p>
                  </div>
              </div> <!-- /.mini-feature -->

              <div class="mini-feature">
                <!-- <i class="fa fa-dashboard mini-feature-icon text-secondary"></i> -->

              <div class="mini-feature-text">
                <%= image_tag "landing/janet.png", alt: 'Janet Yi', class: 'pocketfeature' %>
                <h5 class="team-member">Janet Yi</h5>
                <h6 class="team-member-title">Developer | janetyi.com</h6>
                <p>Janet is a Software Engineer, Bay Area native, and world traveler. Having an extensive background working with startups, she is thrilled to be working on a product that will help small businesses owners/freelancers far and wide!</p>
              </div>
          </div> <!-- /.mini-feature -->

          <div class="mini-feature">
            <!-- <i class="fa fa-html5 mini-feature-icon text-secondary"></i> -->

            <div class="mini-feature-text">
              <%= image_tag "landing/rosa.png", alt: 'Rosa Choi', class: 'pocketfeature' %>
              <h5 class="team-member">Rosa Choi</h5>
              <h6 class="team-member-title">Front-End Developer | @RosaCodie</h6>
              <p>Rosa is a designer turned developer. Web design and development are her true passions, followed closely by art, and travel. She merges art and technology to create a refined digital experience that works seamlessly across all devices.</p>
            </div>
          </div>

        </div>
      </div>

      </div> <!-- /.container -->

    </div> <!-- /.content -->


</div> <!-- /#wrapper -->

<footer id = "contactus" class="footer">

  <div class="container">

      <div class="row">

        <div class="col-sm-4">
          <h4 class="content-title">
            <span>Contact Us</span>
          </h4>
          <ul class="icons-list">
              <li>
                <i class="icon-li fa fa-map-marker"></i>
                543 Howard Street, 5th Floor<br>
                San Francisco, CA 94105
              </li>

              <li>
                <i class="icon-li fa fa-phone"></i>
                +1 415 787 0117
              </li>

              <li>
                <i class="icon-li fa fa-envelope"></i>
                <a href="mailto:team@pocketSOHO.com">team@pocketSOHO.com</a>
              </li>
            </ul>
        </div>

      <div class="col-sm-4">

        <h4 class="content-title">
          <span>Stay Connected</span>
        </h4>

        <p> You are awesome. Please contact us!</p>

        <br>

        <ul class="footer-social-link">
          <li>
            <a href="https://www.facebook.com/pages/pocketSOHO/1462585254012308" target="_blank" class="ui-tooltip" title="Facebook" data-placement="bottom">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/PocketSOHO" target="_blank" class="ui-tooltip" title="Twitter" data-placement="bottom">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="ui-tooltip" title="LinkedIn" data-placement="bottom">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>

      </div> <!-- /.col -->


        <div class="col-sm-4">

        <h4 class="content-title">
          <span>Stay Updated</span>
        </h4>

        <p>Get emails about new theme launches &amp;  future updates.</p>

        <form action="/" class="form">

          <div class="form-group">
            <!-- <label>Email: <span class="required">*</span></label> -->
            <input class="form-control" id="newsletter_email" name="newsletter_email" type="text" value="" required="" placeholder="Email Address">
          </div> <!-- /.form-group -->

          <div class="form-group">
            <button class="btn btn-transparent">Subscribe Me</button>
          </div> <!-- /.form-group -->

        </form>

      </div> <!-- /.col -->

      </div> <!-- /.row -->

  </div> <!-- /.container -->

</footer>

<footer class="copyright">
  <div class="container">

    <div class="footer-row row">

      <div class="col-sm-12">
        <p>Copyright &copy; 2014 pocketSOHO.</p>
      </div> <!-- /.col -->

    </div> <!-- /.row -->

  </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" %>
<%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>

<%= javascript_include_tag "jquery.timeago.js" %>
<%= javascript_include_tag "tweetable.jquery.min.js" %>

<!--[if lt IE 9]>
<script src="./js/libs/excanvas.compiled.js"></script>
<![endif]-->


<!-- Plugin JS -->
<%= javascript_include_tag "jquery.carouFredSel-6.2.1-packed.js" %>

  <!-- App JS -->
<%= javascript_include_tag "mvpready-core" %>
<%= javascript_include_tag "mvpready-landing" %>


</body>
</html>
