<h1>PocketSOHO</h1>

<h3>My Businesses</h3>
<i class="fa fa-minus-circle"></i>
<%= link_to 'Create New', new_business_path %>
<% @businesses.each do |business| %>
  <a href="businesses/<%= business.id %>">
    <%= business.name %>
    <%= business.image_url %>
    <%= link_to 'Edit', edit_business_path(business.id)  %>
  </a>
<% end %>

<h3>My Customers</h3>
<i class="fa fa-minus-circle"></i>
<%= link_to 'Create New', new_user_path, { type: "Customer" } %>


<h3>My Invoices</h3>
add here


