<div class="account-wrapper">

    <div class="account-body">

      <h3>Welcome back to pocketSOHO</h3>

      <h5>Please sign in to get access.</h5>

      <br>

      <div class="row">

        <div class="col-sm-6">
          <%= link_to user_omniauth_authorize_path(:linkedin), { class: "btn btn-twitter btn-block" } do %>
            <i class="fa fa-linkedin"></i>
            &nbsp;&nbsp;Login with LinkedIn
          <% end %>
        </div> <!-- /.col -->

        <div class="col-sm-6">
          <%= link_to user_omniauth_authorize_path(:facebook), { class: 'btn btn-facebook btn-block' } do %>
            <i class="fa fa-facebook"></i>
            &nbsp;&nbsp;Login with Facebook
          <% end %>
        </div> <!-- /.col -->

      </div> <!-- /.row -->

      <span class="account-or-social text-muted">OR, SIGN IN BELOW</span>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form account-form'}) do |f| %>
        <div class="form-group">
          <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email", input_html: {class: 'form-control'} %>
          <%= f.input :password, required: false, label: false, placeholder: "Password", input_html: {class: 'form-control'} %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">Signin &nbsp; <i class="fa fa-play-circle"></i></button>
        </div>

          <div class="pull-right">
            <small><%= link_to "Forgot Password?", new_user_password_path %></small>
          </div>
        </div> <!-- /.form-group -->
      <% end %>

    </div> <!-- /.account-body -->

    <div class="account-footer">
      <p>
      Don't have an account? &nbsp;
      <%= link_to "Create an Account!", new_user_registration_path %>
      </p>
    </div> <!-- /.account-footer -->

  </div> <!-- /.account-wrapper -->
