<div class="appt-content content">

    <div class="container">
      <h3 class="content-title"><%= image_tag "schedule02.svg", alt: 'Scheduling Icon', id: "appticon"%><u>My Appointments</u></h3>

      <section class="main">
        <div class="custom-calendar-wrap">
          <div id="custom-inner" class="custom-inner">
            <div class="custom-header clearfix">
              <nav>

                <%= link_to date: @date.prev_month do %>
                  <i class="fa fa-arrow-circle-left" style="position:relative; top:30px; float:left; font-size: 20px"></i>
                <% end %>


              </nav>
              <h2 id="custom-month" class="custom-month"><%= @date.strftime("%B") %></h2>
              <h3 id="custom-year" class="custom-year"><%= @date.strftime("%Y") %></h3>
          </div>

          <%= link_to date: @date.next_month do %>
            <i class="fa fa-arrow-circle-right" style="position:relative; bottom:30px; float:right; font-size: 20px"></i>
          <% end %>

          <div id="calendar">
            <div class="fc-calendar fc-five-rows">

              <%= calendar @date do |date| %>
                <%= date.day %>
                <% if @appointments_by_date[date] %>
                  <ul>
                    <% @appointments_by_date[date].each do |appt| %>
                      <li>
                        <%= link_to appointment_path( appt.id ) do %>
                          <% if @user.type == "BusinessOwner" %>
                            <% if appt.subject %>
                              <%=  appt.subject  %> | <%= appt.time.strftime("%I:%M%p") %>
                            <% else %>
                            <%- customer = Customer.find(appt.customer_id) -%>
                            <%- customer_name = "#{customer.first_name} #{customer.last_name}" -%>
                            <%=  customer_name  %> | <%= appt.time.strftime("%I:%M%p") %>
                            <% end %>
                          <% else %>
                            <%= appt.business.name %> | <%= appt.time.strftime("%I:%M%p") %>
                          <% end %>
                        <% end %>
                      </li>
                    <% end %>
                 </ul>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </section>
    </div> <!-- /.container -->

  </div> <!-- .content -->
