<div class="newappt-content content">

    <div class="container">

      <div class="row">

        <div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 ">

          <div class="portlet">

            <h2 class="portlet-title">
              <u>Create an Appointment</u>
            </h2>

            <div class="portlet-body">
              <%= form_for @appointment, url: {action: "create"}, html: {id: "demo-validation", class: 'form parsley-form'} do |f| %>
                <div class="form-group">
                  <%= f.label :customer_id, as: 'Appointment with' %><br />
                  <%= f.select :customer_id, @appt_person_list.keys %><br />
                </div>

                <div class="form-group">
                  <%= f.label :amount %><br />
                  <%= f.text_field :amount %>
                </div>

                <div class="form-group">
                  <%= f.label :notes %><br />
                  <%= f.text_area :notes %>
                </div>
                <div class="form-group">
                  <label>Month</label>
                  <select name="monthList">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Day</label>
                  <select name="dateList">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Hour</label>
                  <select name="hourList">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                  </select>
                </div>
                  <div class="form-group">
                  <label>Minutes</label>
                  <select name="minutesList">
                    <option value="0">:00</option>
                    <option value="15">:15</option>
                    <option value="30">:30</option>
                    <option value="45">:45</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Year</label>
                  <select name="yearList">
                    <option value=<%=  Date.today.year %>><%=  Date.today.year %></option>
                    <option value=<%=  Date.today.year+1 %>><%=  Date.today.year+1 %></option>
                  </select>
                </div>
                <div class="actions">
                  <%= f.submit %>
                </div>
              <% end %>

            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->

    </div> <!-- /.container -->



  </div> <!-- .content -->
