<div id="user-nav-bar">
  <% if @user %>

    <%= link_to root_path do %>
      <i class="fa fa-home"></i>
    <% end %>
    <%= link_to appointments_path do %>
	      <i class="fa fa-calendar"></i></a>
    <% end %>
    <%= link_to user_conversations_path(@user.id) do %>
	      <i class="fa fa-envelope-o"></i>
    <% end %>
    <%= link_to invoices_path do %>
        <i class="fa fa-usd"></i>
    <% end %>

    Hello, <%= @user.first_name %> (<%= @user.type %>)
    <%= link_to 'Log Out', delete_session_path %>
  <% end %>
</div>
