<!DOCTYPE html>
<html data-ng-app="pocketSOHO">
<head>
	<title>PocketSOHO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag    "mvpready-flat", media: "all", "data-turbolinks-track" => true %>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

	<!--[if lt IE 9]>
	<script src="./js/libs/excanvas.compiled.js"></script>
	<![endif]-->
	<!-- App JS -->

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" %>
	<%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>
	<%= javascript_include_tag "chart" %>
	<%= javascript_include_tag "mvpready-core" %>
	<%= javascript_include_tag "mvpready-admin" %>
	<%= javascript_include_tag "mvpready-account" %>


	<%= csrf_meta_tags %>


	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
	  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
</head>
<body>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
	<%=  render partial: 'layouts/navbar' %>
	<%= yield %>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>
